.main-text{
    padding-top: 70px;
    text-align: center;
}

.main-text>h1{
    font-size:3rem !important;
    line-height:1 !important;
    padding-top: 10px;
    padding-bottom: 10px;
}


.main-text>p{
        font-size: 1.125rem;
    line-height: 1.75rem;
    /* max-width: 1.75rem; */
    color: rgb(75 85 99);;
    padding-bottom: 30px;
}